# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/Standard Assets/
Assets/Standard Assets (Mobile)/
Assets/TerrainToolkit/
TestMech_Data/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.mp3
*.mp3.meta
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db